<h2><%= link_to "Artist Spotlights", spotlights_path %></h2>
<h2>New + Noteworthy</h2>
<h2>Artist Index</h2>

<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>
  <% end %>
</ul>
<iframe id="video1" width="560" height="315" src="https://www.youtube.com/embed/c1Q-FMqDgic" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
