<h2><%= link_to "Artist Spotlights", spotlights_path %></h2>
<h2>New + Noteworthy</h2>


<h2>Artist Index</h2>

<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>
  <% end %>
</ul>
