<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= link_to "Artist Spotlights", spotlights_path, class: 'css_class', style: 'color:#000000' %></h2>
    </div>
    <br>
    <div class="col">
      <h2>New + Upcoming</h2>
    </div>
    <br>
    <br>
    <div>
      <h2 class="index">Artist Index</h2>
        <ul>
          <% @artists.each do |artist| %>
            <li><%= link_to artist.name, artist_path(artist) %></li>
          <% end %>
        </ul>
    </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLvJxJq-PfPskbX9qwkdQNkfgijJTImS0m" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="position:relative; top: -215px; left: 50px;"></iframe>
</div>
