<h1 id="spotlight-page">On the Rise</h1>
<div class="card" id="card1" style="width: 65rem;">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
          <h2>Nubya Garcia</h2>
          <p id="spotlight1">It's difficult to talk about the UK Jazz scene without mentioning Nubya. Her collaborations with numerous artists, including Blue Lab Beats, Theon Cross, and Moses Boyd, among others. Nubya fearlessly threw herself head first into this 5ive project, her debut recording, with a clear vision of what she wanted and was meticulous in her pursuit of her sound. Enlisting the help of fellow musical comrades from an exciting new wave of London based talent, Nubya tapped into well-seasoned, harmonious relationships with players that know and understand her – and this joyful union radiates through her compositions.</p>
        </div>
        <div class="col-lg-6">
          <img src="https://f4.bcbits.com/img/0012649410_10.jpg" id="image1">
          <div id="song1">
            <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1922001394/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://nubyagarcia.bandcamp.com/album/nubyas-5ive" >Nubya&#39;s 5ive by Nubya Garcia</a></iframe>
          </div>
        </div>
     </div>
     <br>
     <br>
     <div class="row">
         <div class="col-lg-6">
           <h2>Yusef Kamal</h2>
           <p id="spotlight2">Yussef Kamaal states that their musical inspirations derive from artists such as Robert Glasper, Kamasi Washington, Herbie Hancock, Mahavishnu Orchestra, Thelonious Monk, or Kaidi Tatham. That might be very true, but in terms of the rhythmic vocabulary, harmonic progressions, choice of instruments and their sonic textures, music on Black Focus also resembles Jamiroquai, Brand New Heavies, or Incognito—bands that were described as being part of Acid Jazz movement. While labeling the band as Acid Jazz collective would be as problematic as trying to define the term itself, it does explain why Yussef Kamaal is under the wings of Gilles Peterson and his Brownswood Recordings label. After all, it was partly because of Peterson that the term Acid Jazz emerged.</p>
         </div>
         <div class="col-lg-6">
           <img src="https://www.colstonhall.org/wp-content/uploads/2016/09/CLR_yk_39_Larissa-Araz-copy-863x575.jpg" id="image2">
           <div id="song2">
             <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1841959426/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/track=1926117557/transparent=true/" seamless><a href="http://yussefkamaal.bandcamp.com/album/black-focus">Black Focus by Yussef Kamaal</a></iframe>
           </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row">
          <div class="col-lg-6">
            <h2>We Out Here</h2>
            <p id="spotlight3">This vivid snapshot of young London's jazz scene, featuring nine bands and a collective pool of 35 musicians, contains close to an hour of daring and uplifting music—from rebooted spiritual-jazz through abstract experimentation to Afrobeat-flavoured dancefloor urgency, a rich mix further enlivened by shots of grime, hip hop and funk. It was recorded over three days last August under the light-touch supervision of its musical director, the saxophonist and clarinetist Shabaka Hutchings.</p>
          </div>
          <div class="col-lg-6">
            <iframe width="475" height="315" src="https://www.youtube.com/embed/c1Q-FMqDgic" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div id="song3">
              <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=285931255/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/track=2882333707/transparent=true/" seamless><a href="http://weouthere.bandcamp.com/album/we-out-here">We Out Here by Triforce</a></iframe>
            </div>
          </div>
       </div>
 </div>
</div>

<!-- Blue Lab link:<iframe width="560" height="315" src="https://www.youtube.com/embed/2ScpnUpCsM4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
