<div class="card-body">
  <h1>Artists on the Rise</h1>
  <h2>Nubya Garcia</h2>
    <p>It's difficult to talk about the UK Jazz scene without mentioning Nubya. Her collaborations with numerous artists, including Blue Lab Beats, Theon Cross, and Moses Boyd, among others.</p>
</div>
