<h1 id="spotlight-page">On the Rise</h1>
<div class="card" id="card1" style="width: 65rem;">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
          <h2>Nubya Garcia</h2>
          <p>It's difficult to talk about the UK Jazz scene without mentioning Nubya. Her collaborations with numerous artists, including Blue Lab Beats, Theon Cross, and Moses Boyd, among others. Nubya fearlessly threw herself head first into this 5ive project, her debut recording, with a clear vision of what she wanted and was meticulous in her pursuit of her sound. Enlisting the help of fellow musical comrades from an exciting new wave of London based talent, Nubya tapped into well-seasoned, harmonious relationships with players that know and understand her – and this joyful union radiates through her compositions.</p>
        </div>
        <div class="col-lg-6">
          <img src="https://f4.bcbits.com/img/0012649410_10.jpg" id="image1">
         </div>
     </div>
 </div>
</div>

<!-- Blue Lab link:<iframe width="560" height="315" src="https://www.youtube.com/embed/2ScpnUpCsM4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
