<div class="card-body">
  <h1>Artists on the Rise</h1>
  <h2>Nubya Garcia</h2>
    <p>It's difficult to talk about the UK Jazz scene without mentioning Nubya. Her collaborations with numerous artists, including Blue Lab Beats, Theon Cross, and Moses Boyd, among others.</p>
</div>

<!-- Blue Lab link:<iframe width="560" height="315" src="https://www.youtube.com/embed/2ScpnUpCsM4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
