<div class="card" id="card1" style="width: 65rem;">
  <h1 id="spotlight-page">On the Rise</h1>
  <h2>Nubya Garcia</h2>
  <p>It's difficult to talk about the UK Jazz scene without mentioning Nubya. Her collaborations with numerous artists, including Blue Lab Beats, Theon Cross, and Moses Boyd, among others.</p>
  <img src="https://media.npr.org/assets/img/2018/02/26/nubya-garcia-by-adama-jalloh_sq-657f2d201e6f221939d232b2c8236d83a6287116-s900-c85.jpg">
</div>


<!-- Blue Lab link:<iframe width="560" height="315" src="https://www.youtube.com/embed/2ScpnUpCsM4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
