/*#nav-mobile {
  display: inline;
}*/
.jumbotron {
  /*background-color: #f3c753;*/
  background-image: url(https://cdn-images-1.medium.com/max/1200/0*m7DktYHCUCsZhH-9.jpg);
  font-weight: bold;
  background-size: contain;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

/*#nav {
  color: #f3c753;
}*/

ul {
  list-style: none;
}

body {
  background-color: #f3c753;
}

h2, ul, #spotlight-page {
  font-family: 'Permanent Marker', cursive;
}

li, p {
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
}

#spotlight1, #spotlight2, #spotlight3 {
  text-align: justify;
}

#spotlight-page {
  text-align: center;
}

.row {
  padding: 15px;
}

.card-header {
  text-align: center;
}

#spotlight a {
  text-decoration: none;
}

#artist-info {
   opacity: .68;
}

 #card1 {
   margin-left: 50px;
   opacity: .68;
   margin-bottom: 25px;
 }

 #song1 {
   padding-top: 15px;
 }

 .image1 {
   border: 0;
 }

 #song2 {
  padding-top: 15px;
 }

 .image2 {
   border: 0;
   max-width: 200px;
   max-height: 150px;
 }

 img {
  width: 350px;
  height: auto;
  margin-left: 10%;
  margin-top: 10%;
  height: inherit;
  float: center;
 }
