.jumbotron {
  /*background-color: #f3c753;*/
  background-image: url(https://cdn-images-1.medium.com/max/1200/0*m7DktYHCUCsZhH-9.jpg);
  font-weight: bold;
  background-size: contain;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

body {
  /*background-color: #f3c753;*/
}

h2 {
  /*font-family: 'Permanent Marker', cursive;*/
}
