/*#nav-mobile {
  display: inline;
}*/
.jumbotron {
  /*background-color: #f3c753;*/
  background-image: url(https://cdn-images-1.medium.com/max/1200/0*m7DktYHCUCsZhH-9.jpg);
  font-weight: bold;
  background-size: contain;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

/*#nav {
  color: #f3c753;
}*/

ul {
  list-style: none;
}

body {
  background-color: #f3c753;
}

h2, ul {
  font-family: 'Permanent Marker', cursive;
}

li, p {
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
}

.row {
  padding: 15px;
}

.card-header {
  text-align: center;
}
